services:
  bot:
    container_name: ozjasz-bot
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile_bot
    env_file:
      - .env
    image: telegram-bot
    volumes:
      - ./data:/data
  etl:
    container_name: ozjasz-etl
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile_bot_etl
    env_file:
      - .env
    image: telegram-bot-etl
    volumes:
      - ./data:/data