python-telegram-bot[job-queue]
python-dotenv
telethon
pandas
pyarrow
matplotlib
pillow
pytest
pytest-mock
pytest-asyncio
pytesseract
opencv-python
pandera[pandas]
kaleido==0.1.0
plotly==5.24.1
great-tables
schedule
networkx
nltk
yt_dlp
ffmpeg-python
unidecode
